<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by Jacqueline Rosains
  </p>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jrosainsheadshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h3 class="text-center">Jacqueline Rosains</h3>
      <br />
      <p>
        Jacqueline is a Web Developer in training. This is her first WebApp. In a previous life, she worked as a telecommunications engineer, before pursuing her long-time dream of becoming a scientist. She is now embarking in this new adventure as she dreams of a future outside "the cube".
      </p>

      <p>
        Check out her <a target="_blank" href="http://github.com//jiro-sains">Github Repo</a> and <a target="_blank" href="https://www.linkedin.com/in/jacqueline-rosains-phd-60218758">LinkedIn profile</a>. 
      </p>
    </div>
  </div>
  <br class="clear" />

<br />
<br />
<br />
<br />