<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by Jacqueline Rosains
  </p>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jrosainsheadshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h3 class="text-center">Jacqueline Rosains</h3>
      <br />
      <p>
        Playing with code blah blah blah
        blah blah blah
        blah blah blah
        blah blah blah
      </p>
    </div>
  </div>
  <br class="clear" />

<br />
<br />
<br />
<br />