<h2>
  <span>SPLURTY /No. <%= @quote.id %></span>
  <span2>Here are the <u>best cat quotes</u> you can get!</span2>
</h2>

<br class="clear" />

<h1><%= @quote.saying%></h1>
<h2 class="float-right">- <%= @quote.author%></h2>

<br class="clear" />
<br />
<br />
<br />
